# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cd = pd.read_csv("../output_data/cities.csv")
cd.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
locations = cd[["Lat", "Lng"]]
humidity = cd["Humidity"]
fig = gmaps.figure()
heat= gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heat)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
fitCity = cd.loc[(cd["Max Temp"] < 72) & (cd["Max Temp"] > 64) & (cd["Wind Speed"] < 10) & (cd["Cloudiness"] == 0)].dropna()
fitCity

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
37,37,varhaug,0,NO,1558378761,63,58.61,5.65,64.99,8.05
141,141,sanchazi,0,CN,1558378781,82,30.43,103.62,64.40,2.24
168,168,straumen,0,NO,1558378786,52,63.87,11.30,68.00,9.17
214,214,mount isa,0,AU,1558378794,56,-20.73,139.49,68.00,6.93
259,259,hami,0,CN,1558378834,11,42.84,93.51,69.72,6.20
340,340,la libertad,0,PE,1558378855,36,-16.38,-71.56,64.40,8.05
346,346,chiredzi,0,ZW,1558378856,42,-21.05,31.67,65.76,0.78
444,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17
508,508,noumea,0,NC,1558378811,77,-22.28,166.46,64.40,2.24
533,533,hakkari,0,FI,1558378896,46,61.34,23.75,69.80,5.82
538,538,la seyne-sur-mer,0,FR,1558378897,72,43.10,5.88,69.01,2.24

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hdf = fitCity[["City", "Country", "Lat", "Lng"]].copy()
hdf["Hotel"] = ""
hdf

                 City Country    Lat     Lng Hotel
37            varhaug      NO  58.61    5.65
141          sanchazi      CN  30.43  103.62
168          straumen      NO  63.87   11.30
214         mount isa      AU -20.73  139.49
259              hami      CN  42.84   93.51
340       la libertad      PE -16.38  -71.56
346          chiredzi      ZW -21.05   31.67
444           birjand      IR  32.86   59.22
508            noumea      NC -22.28  166.46
533           hakkari      FI  61.34   23.75
538  la seyne-sur-mer      FR  43.10    5.88

In [7]:
hotelParams = {"radius": 5000,"types": "lodging","key": g_key}

for index, row in hdf.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    hotelParams["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    name_address = requests.get(base_url, params=hotelParams)
    name_address = name_address.json()
    
    try:
        hdf.loc[index, "Hotel"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

hdf

,City,Country,Lat,Lng,Hotel
37,varhaug,NO,58.61,5.65,Dancenter Gurihuset
141,sanchazi,CN,30.43,103.62,Yingbin Hotel
168,straumen,NO,63.87,11.30,Jægtvolden Fjordhotell
214,mount isa,AU,-20.73,139.49,ibis Styles Mt Isa Verona
259,hami,CN,42.84,93.51,Post And Telecommunication Hotel
340,la libertad,PE,-16.38,-71.56,Casa de Avila Hotel
346,chiredzi,ZW,-21.05,31.67,The Nesbitt Arms
444,birjand,IR,32.86,59.22,تاکسی سرویس آرامش
508,noumea,NC,-22.28,166.46,Hôtel Le Lagon
533,hakkari,FI,61.34,23.75,Vaihmalan Hovi
538,la seyne-sur-mer,FR,43.10,5.88,Zenitude Hôtel-Résidences Toulon Six Fours

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
info = [info_box_template.format(**row) for index, row in hdf.iterrows()]
locations = hdf[["Lat", "Lng"]]

In [9]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))